table {
    margin: 40px 0 0 0;
    max-width: 95%;
    text-align: left;
    background-color: #efefef;
    line-height: 3rem;
}

th {
    color: #efefef;
    background-color: #495E57;
    font-size: 1rem;
    padding: 1rem;
    width: 70%;
}

td {
    padding: 1rem;
    width: 50%;
    background-color: #495E57;
    color: #efefef;
}

