table {
    margin: 1rem 0 0 0;
    max-width: 95%;
    border-radius: 4px;
    text-align: left;
}

th {
    color: #495E57;
    background-color: #EFEFEF;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 70%;
}

td {
    padding: 1rem;
    width: 50%;
    color: #495E57;
    font-size: 1rem;
}

span {
    font-size: 0.75rem;
    display: block;
    margin-top: 5%;
}

