form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 16px;
    align-items: right;
}

input, select {
    background-color: #EFEFEF;
    color: #333333;
    border: none;
    padding: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

form input.button {
    margin-top: 5%;
}

.hidden-button {
    background-color: #EFEFEF;
    text-decoration: none;
    color: #5e5e5e;
    padding: 16px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    margin-top: 5%;
}

.confirmation {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 4rem;
    text-align: center;
    justify-content: center;
    height: 50vh;
}

.confirmation > .button {
    width: 50%;
}