nav {
    margin: 0% 5%;
    background-color: #FFFFFF;
    padding: 32px 0px;
    gap: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.navlist {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 0;
    margin: 0;
}

.nav-item {
    text-decoration: none;
    color: #495E57;
    font-size: 16px;
    font-weight: 600;
}

#hamburger {
    max-width: 80px;
    padding: 16px;
    display: none;
    background-color: #495E57;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 4px;
}

header {
    background-color: #495E57;
    color: #EFEFEF;
    height: 500px;
    display: grid;
    grid-template-areas: 'auto auto article image ';
    align-items: center;
    justify-content: space-between;
}

header p {
    padding: 32px 0 32px 0 ;
    margin: 0;
}

header article {
    grid-area: article;
    padding: 32px;
    max-width: 400px;
}

header img {
    grid-area: image;
    width:100%;
    height:100%;
    max-height: 500px;
    object-fit:cover;
}

main {
    height: auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .title {
    padding: 16px;
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardcontainer {
    display: flex;
    gap: 16px;
    max-width: 900px;
}

.card {
    background-color: #EFEFEF;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    color: #333333;
}

.card div {
    padding: 16px;
    display: grid;
    grid-template-areas: 'title price' 'description description' 'link link';
    align-items: center;
    justify-items: space-between;
}
.cardimage {
    width:100%;
    height:100%;
    max-height: 200px;
    object-fit:cover;
    border-radius: 8px 8px 0px 0px;
}

.cardtitle {
    grid-area: title;
    margin: 0;
}

.cardprice {
    grid-area: price;
    text-align: right;
    font-weight: 600;
    margin: 0;
}

.cardtext {
    grid-area: description;
}

.cardlink {
    color: #495E57;
    grid-area: link;
    text-decoration: none;
    font-weight: 600;
}

h1 {
    color: #F4CE14;
    font-size: 64px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: 600;
    margin: 0;
}

h2 {
    font-size: 36px;
    margin: 0;
    color:#333333;
}

h3 {
    color:#EFEFEF;
    margin: 0;
}

.button {
    background-color: #F4CE14;
    text-decoration: none;
    color: #333333;
    padding: 16px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 16px;
    align-items: right;
    padding: 5%;
}

input, select {
    background-color: #EFEFEF;
    color: #333333;
    border: none;
    padding: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

form input.button {
    margin-top: 5%;
}

#confirmation {
    display: none;
    flex-direction: column;
}

footer {
    padding: 64px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #EFEFEF;
    margin-top: 5%;
}

footer .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
}

@media screen and (max-width: 750px) {
    nav {
        flex-direction: column;
        align-items: normal;
        padding: 16px 0px;
    }

    .navlist {
        flex-direction: column;
        display: none;
        transition: 0.3s ease-in-out;
    }

    .navheader {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #hamburger {
        display: block;
    }

    header {
        grid-template-areas: 'image' 'article';
        height: auto;
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 24px
    }

    .cardcontainer {
        flex-direction: column;
    }
    footer .container {
      padding: 32px;
      flex-direction: column;
      align-items: start;
      gap: 8px;
    }
  }