nav {
    background-color: #EFEFEF;
    padding: 32px;
    gap: 64px;
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: #495E57;
    font-weight: 600;
}

header {
    background-color: #495E57;
    color: #EFEFEF;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #FFFFFF;
    height: 400px;
    display: flex;
    justify-content: center;
}

footer {
    padding: 64px 64px;
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    footer {
      flex-direction: column;
      align-items: start;
      gap: 8px;
    }
  }